body {
    margin: 0;
    padding: 0;
}

main {
    border: 2px solid rgb(212, 204, 245);
    margin: 0 auto;
    border-radius: 7px;
    min-width: 300px;
    max-width: 500px;
    height: 99vh;
    background: rgb(241, 241, 241);
}

.words {
    border:2px solid  rgb(212, 204, 245);
    height: 200px;
    line-height: 200px;
    margin: 0 4% 4% 4%;
    border-radius: 7px;
    background: white
}

h1 {
    text-align: center;
    font-size: 25px;
    margin: auto;
}

.buttons {
    width: 92%;
    margin: 10px auto;
}

button {
    width: 100%;
    height: 30px;
    margin: 10px auto;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

#know {
    background: rgb(70, 255, 168);
    color: rgb(0, 65, 34);
    border: 2px solid rgb(0, 218, 116);
}

#notKnow {
    background: rgb(255, 100, 100);
    color: rgb(65, 0, 0);
    border: 2px solid rgb(216, 0, 0);
}

#cancelLastWord {
    background: rgb(133, 155, 255);
    color: rgb(10, 0, 78);
    border: 2px solid rgb(55, 55, 255);
    margin-top: 25%;
}
#progress {
    margin-left: 4%;
    font-weight: bold;
    font-size: 0.9em;
    font-style: italic;
}